# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
ENV/
env/

# Ignore all dotfiles/folders by default
.*
# But track .gitignore
!.gitignore
# Explicitly list env files
.env
.evn

# Project specific
mlflow.db
checkpoints/
*.egg-info/

# Large OBJ/3D model assets and images
*.obj
*.png

